.ansible
.venv
.vscode
.idea
.vagrant
*.pyc
__pycache__
*.swp
*.swo
*.bak
*.orig
*.log
*.tmp
*.cache
*.DS_Store
*.egg-info
*.egg
*.tox
*.coverage
.mypy_cache
.mypy_cache/
*.pytest_cache
.molecule
files/*